openapi: 3.1.0
info:
  title: Azure Stream Analytics REST Clusters StreamingJobs API
  description: Minimal OpenAPI definition for the Azure Stream Analytics management REST API (via Azure Resource Manager) covering streaming jobs, inputs, outputs, transformations, functions, and clusters.
  version: '2020-03-01'
  x-generated-from: https://learn.microsoft.com/en-us/rest/api/streamanalytics/
  x-generated-by: claude-crawl-2026-05-08
servers:
- url: https://management.azure.com
  description: Azure Resource Manager
security:
- bearerAuth: []
tags:
- name: StreamingJobs
paths:
  /subscriptions/{subscriptionId}/providers/Microsoft.StreamAnalytics/streamingjobs:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    - $ref: '#/components/parameters/ApiVersion'
    get:
      tags:
      - StreamingJobs
      summary: List streaming jobs in subscription
      operationId: listStreamingJobs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
  /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs:
    parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    - $ref: '#/components/parameters/ResourceGroupName'
    - $ref: '#/components/parameters/ApiVersion'
    get:
      tags:
      - StreamingJobs
      summary: List streaming jobs by resource group
      operationId: listStreamingJobsByResourceGroup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}
  : parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    - $ref: '#/components/parameters/ResourceGroupName'
    - $ref: '#/components/parameters/JobName'
    - $ref: '#/components/parameters/ApiVersion'
    get:
      tags:
      - StreamingJobs
      summary: Get streaming job
      operationId: getStreamingJob
      responses:
        '200':
          description: OK
    put:
      tags:
      - StreamingJobs
      summary: Create or replace streaming job
      operationId: createOrReplaceStreamingJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: OK
        '201':
          description: Created
    patch:
      tags:
      - StreamingJobs
      summary: Update streaming job
      operationId: updateStreamingJob
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '200':
          description: OK
    delete:
      tags:
      - StreamingJobs
      summary: Delete streaming job
      operationId: deleteStreamingJob
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        '204':
          description: No Content
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/start
  : parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    - $ref: '#/components/parameters/ResourceGroupName'
    - $ref: '#/components/parameters/JobName'
    - $ref: '#/components/parameters/ApiVersion'
    post:
      tags:
      - StreamingJobs
      summary: Start streaming job
      operationId: startStreamingJob
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericObject'
      responses:
        '202':
          description: Accepted
  ? /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.StreamAnalytics/streamingjobs/{jobName}/stop
  : parameters:
    - $ref: '#/components/parameters/SubscriptionId'
    - $ref: '#/components/parameters/ResourceGroupName'
    - $ref: '#/components/parameters/JobName'
    - $ref: '#/components/parameters/ApiVersion'
    post:
      tags:
      - StreamingJobs
      summary: Stop streaming job
      operationId: stopStreamingJob
      responses:
        '202':
          description: Accepted
components:
  parameters:
    ApiVersion:
      in: query
      name: api-version
      required: true
      schema:
        type: string
        default: '2020-03-01'
    JobName:
      in: path
      name: jobName
      required: true
      schema:
        type: string
    SubscriptionId:
      in: path
      name: subscriptionId
      required: true
      schema:
        type: string
    ResourceGroupName:
      in: path
      name: resourceGroupName
      required: true
      schema:
        type: string
  schemas:
    GenericList:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/GenericObject'
      additionalProperties: true
    GenericObject:
      type: object
      additionalProperties: true
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
